<template name="orders">
	<div class="template-dashboard">
		<div class="container">
			<div class="row" id="champion-messages">
				<div class="col-md-9">
					{{> orderslist}}
					
				</div>
				<div class="col-md-3">
				{{> favoritesSidebar}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="orderslist">
	<div class="template-posts">
		<div class="template-post">
		<div class="panel-default">
			<div class="row panel-heading text-center">
				<div class="col-md-1">
				Customer
				</div>
				<div class="col-md-3">
				Order
				</div>
				<div class="col-md-3">
				Cost
				</div>
				<div class="col-md-3">
				Shop
				</div>
				<div class="col-md-2">
				</div>
			</div>
		{{#each  posts}}
		{{> order}}
		{{else}}
		{{> noData}}
		{{/each}}
		</div>
		</div>
	</div>
</template>

<template name="order">
	
			<div class="row panel-body">
				<div class="col-md-1">
					<div class="media">
					<a class="pull-left" href="#">
						{{> profileThumb _id=owner}}
					</a>
					</div>
				</div>
				<div class="col-md-3">
				<p class="text-center">
					{{#with getDoc picture 'Attachments'}}
						<img src="{{url}}" class="img-thumbnail img-rounded">
					{{/with}}
				</p>
				</div>
				<div class="col-md-3">
				{{title}} EUR
				</div>
				<div class="col-md-3">
						<p>{{content}}</p>
						<!-- {{#if $eq owner User._id}}
						<small>
							{{#afModal title="Update post" omitFields="createdAt,updatedAt,owner" class="text-primary" collection="Posts" operation="update" doc=_id}}
								<i class="fa fa-pencil" buttonContent="Edit post"></i> {{_ "edit_post"}}
							{{/afModal}}
							{{#afModal title="Delete post" class="text-danger" collection="Posts" operation="remove" doc=_id}}
								<i class="fa fa-times" buttonContent="Edit post"></i> {{_ "delete"}}
							{{/afModal}}
						</small>
						{{/if}} -->
				</div>
				<div class="col-md-2">
				{{> favoriteButton _id=_id}}
				</div>
			</div>
</template>


<template name="favoritesSidebar">
	<div class="template-favorites-sidebar">
		{{#if myFavorites.count}}
		<div class="panel panel-default">
			<div class="panel-heading">
					<h3 class="panel-title">{{_ "favorites"}}</h3>
			</div>
			<div class="panel-body">
				<ul>
				{{#each myFavorites}}
					<li>
						<a>{{_id}}</a>
					</li>
				{{/each}}
				</ul>
			</div>
		</div>
		{{/if}}
	</div>
</template>