<template name="dashboard">
	<div class="template-dashboard">
		<div class="container">
			<div class="row" id="champion-messages">
				
			{{#if isInRole 'admin'}}
				<div class="text-center">
				You are an administrator, check the orders here:<br><br>
				<a href="{{pathFor 'orders'}}" class="btn btn-success"><i class="fa fa-dashboard"></i> {{_ "orders"}}</a>
				</div>
			{{else}}
				<div class="col-md-3">
					{{> addPost}}
					{{> favoritesSidebar}}
				</div>
				<div class="col-md-9">
					{{> posts}}
				</div>
			{{/if}}
			</div>
		</div>
	</div>
</template>

<template name="addPost">
	<div class="template-add-post">
		<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{_ "add_post"}}</h3>
				</div>
				<div class="panel-body">
					{{#autoForm id="add" collection="Posts" type="insert"}}
					
					{{> afQuickField name="content" }}
					{{> afQuickField name="picture"}}
					{{> afQuickField name="title"}}
					<button type="submit" class="btn btn-primary pull-right">{{_ "add_post_btn"}}</button>
					{{/autoForm}}
				</div>
		</div>
	</div>
</template>

<template name="posts">
	<div class="template-posts">
		{{#each  posts}}
		{{> post}}
		{{else}}
		{{> noData}}
		{{/each}}
	</div>
</template>

<template name="post">
	<div class="template-post">
		<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Order - {{title}} EUR
						<!-- <span class="pull-right">
							<i class="fa fa-thumbs-up"></i> {{#with favoritesByDoc _id}}{{count}}{{/with}}
							<i class="fa fa-comments"></i> {{commentCount _id}}
						</span> -->
					</h3>
				</div>
				<div class="panel-body">
					<p class="text-center">
						{{#with getDoc picture 'Attachments'}}
							<img src="{{url}}" class="img-thumbnail img-rounded">
						{{/with}}
					</p>
					<div class="media">
						<a class="pull-left" href="#">
							{{> profileThumb _id=owner}}
						</a>
						<div class="media-body">
							<p>{{content}}</p>
							{{#if $eq owner User._id}}
							<small>
								{{#afModal title="Update post" omitFields="createdAt,updatedAt,owner" class="text-primary" collection="Posts" operation="update" doc=_id}}
									<i class="fa fa-pencil" buttonContent="Edit post"></i> {{_ "edit_post"}}
								{{/afModal}}
								{{#afModal title="Delete post" class="text-danger" collection="Posts" operation="remove" doc=_id}}
									<i class="fa fa-times" buttonContent="Edit post"></i> {{_ "delete"}}
								{{/afModal}}
							</small>
							{{/if}}
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<!-- {{> favoriteButton _id=_id}} -->
					<!-- {{> commentFormToggle }}
					{{> comments}} -->

					{{> payment}} 

			

				</div>
		</div>
	</div>
</template>

<template name="payment">
<div class="payment-form {{paymentFormStatusClass}}">
			   <!--  <div class="row">
			      <div class="overlay col-md-12">
			        <h4 class="overlay__message">
			          Processing...
			        </h4>
			      </div>
			    </div> -->

			    <div class="row">
			      <form id="checkout" method="post" action="/checkout">
<!--         <h3>Details</h3> -->
        <!-- <div class="row">
          <label for="firstName" class="columns small-12 large-6">
            First Name
            <input type="text" name="firstName" required>
          </label>

          <label for="lastName" class="columns small-12 large-6 ">
            Last Name
            <input type="text" name="lastName" required>
          </label>
        </div> -->
        <div class="col-md-12">
         <!--  <label for="tshirt" class="columns small-12 large-6 last">
            T shirt size
            <select name="tshirt">
              <option value="small">small</option>
              <option value="medium">medium</option>
              <option value="large">large</option>
            </select>
          </label> -->

<!--           <label for="quantity" class="columns small-12 large-6">
            Amount: -->
            <select name="quantity" class="hidden">
              <option value="{{amount title}}">{{amount title}}</option>
            </select>
<!--           </label> -->
        </div>

<!--         <h3>Payment</h3> -->
       <!--  <div class="row">
          <div class="columns small-12">
            <p>
              <strong>Test Credit Card Number:</strong> 4111 1111 1111 1111 <a href="https://developers.braintreepayments.com/ios+ruby/reference/general/testing#credit-card-numbers" target="_blank">(documentation)</a>
            </p>
            <p>
              <strong>Expiration:</strong> (any future dated expiration e.g. 09/16)
            </p>
          </div>
        </div> -->

        <div class="col-md-12">
          <div id="dropin" class="columns small-12"></div>
        </div>

          <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">Complete Your Purchase</button>
          </div>
      </form>
			    </div>
			  </div>
</template>
